@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/open-sans-regular.woff2") format("woff2"),
    url("../fonts/open-sans-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/open-sans-semibold.woff2") format("woff2"),
    url("../fonts/open-sans-semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/open-sans-bold.woff2") format("woff2"),
    url("../fonts/open-sans-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
