// reset default styles
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-text {
  margin: 0;
  padding: 0;
}

@mixin reset-button {
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

// breakpoints
$mobile-width: 799px;
