.page-main {
  margin-top: 68px;

  @media (max-width: $mobile-width) {
    margin-top: 48px;
  }
}

.page-main__search {
  padding: 90px 12.5% 110px;

  @media (max-width: $mobile-width) {
    padding: 40px 5.55%;
  }
}

.page-main__payment {
  padding: 60px 0 0;

  @media (max-width: $mobile-width) {
    padding: 28px 0 0;
  }
}

.page-main__partners {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0 60px;

  @media (max-width: $mobile-width) {
    width: 100%;
    max-width: none;
    padding: 27px 5.55% 0;
  }
}
