.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 2.7% 30px 2.5%;

  background-color: rgba(0, 70, 133, 0.2);

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5.55% 10px;
  }
}

.page-footer__copyright {
  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
  }
}

.page-footer__copyright p {
  @include reset-text;

  font-weight: 600;
  line-height: 22px;

  @media (max-width: $mobile-width) {
    display: inline-block;

    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}
